@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

.about {
	padding: 80px 0 0;
	font-family: 'PT Sans', sans-serif;
	color: black;

	@media (max-width: 1120px) {
		padding: 72px 0 0 0;	
	}

	&__title {
		font-size: 32px;
		font-weight: 700;
		line-height: 41px;

		@media (max-width: 1120px) {
			width: 100%;
			padding:	0 15px;
		}
	}

	&__text {
		width: 500px;
		margin-top: 32px;

		font-size: 18px;
		font-weight: 400;
		line-height: 23px;

		@media (max-width: 1120px) {
			width: 100%;
			padding: 0 15px;
			margin-top: 24px;
		}
	}

	&__parag:not(:first-child) {
		margin-top: 17px;
	}

	&__parag:last-child {
		margin-top: 15px;
	}

	&__content {
		display: flex;
		justify-content: space-between;

		margin-bottom: 64px;

		@media (max-width: 1120px) {
			flex-direction: column;
			margin-bottom: 0;
		}
	}

	&__contacts {
		margin-top: 5px;
		width: 584px;
		background: #F2F2F2;
		padding: 27px 60px 32px 24px;

		font-size: 16px;
		font-weight: 400;
		line-height: 21px;

		@media (max-width: 1120px) {
			width: 100%;
			padding: 16px 10px 24px 10px;
		}
	}

	&__id {
		margin-top: 30px;
	}

	&__location,
	&__id {
		margin-bottom: 18px;
	}

	&__credentials {
		margin-bottom: 15px;
	}

}