@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

.contacts {
	font-family: 'PT Sans', sans-serif;
}

.phone {
	font-weight: 700;
	line-height: 21px;
	padding: 8px 0 0 0;

	&-number:hover {
		opacity: 50%;
	}

	&-msg {
		font-size: 13px;
		font-weight: 400;
		line-height: 16px;
		opacity: 75%;
	}

	&--flex {
		display: flex;
	}

	&-msg-flex {
		margin: 0;
	}
}