@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import "contacts.scss";

.footer {
	background-color: black;
	color: white;
	min-height: 350px;
	width: 100%;
	padding: 32px 16px;
	font-family: 'PT Sans', sans-serif;
	
	&__title {
		margin: 2px 0 16px 2px;
	}

	&__mail {
		margin: 32px 0 6px;
	}

	&__navbar {
		column-gap: 48px;
		display: grid;
		width: 100%;
		grid-template-columns: 138px 126px 124px 135px repeat(2, 147px);

		@media (max-width: 1199px) {
			row-gap: 35px;
			grid-template-columns: 200px;
		}
	}

	&__item:first-of-type {
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 12px;
	}

	&__item,
	&__about-item {
		padding: 3px 0 2px 0;
	}

	&__item:not(:last-child),
	&__about-item:not(:last-child) {
		margin-bottom: 8px;
	}

	&__item:not(:first-of-type),
	&__about-list li:not(:first-child) {
		text-indent: 8px;

		@media (max-width: 1199px) {
			text-indent: 15px;
		}
	}

	&__link {
		border-bottom: 1px solid white;

		&:hover {
			opacity: 50%;
		}
	}

	&__info {
		margin-top: 54px;
		display: flex;
		max-width: 55%;
		font-size: 13px;
		color: #666666;

		@media (max-width: 1199px) {
			flex-direction: column;
			max-width: 100%;
		}
	}

	&__info div {
		margin-right: 24px;
	}

	&__team,
	&__privacy-policy,
	&__maintenance {
		padding: 8px 0;
	}

	&__info-link {
		border-bottom: 1px solid #666666;
		&:hover {
			color: white;
			border-bottom: 1px solid white;
		}
	}	
}