.header {
	height: 50px;
	padding: 0 15px;
	background: linear-gradient(269.92deg, rgba(0, 0, 0, 0) 0.07%, #0C0C0C 99.93%);
	width: 100%;
	color: white;
	font-family: 'PT Sans', sans-serif;
	position: absolute;
	z-index: 10;


	&__main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	@media (max-width: 1120px) {
		background-color: black;
	}

	&--black {
		background: transparent;
		color: black;

		@media (max-width: 1120px) {
			background: transparent;
			color: black;
		}
	}

}

