.header {
	height: 50px;
	padding: 0 15px;
	background: transparent;
	width: 100%;
	color: black;
	font-family: 'PT Sans', sans-serif;
	position: absolute;
	z-index: 10;

	&--styled {
		background: linear-gradient(269.92deg, rgba(0, 0, 0, 0) 0.07%, #0C0C0C 99.93%);
		color: white;

		@media (max-width: 1199px) {
		background-color: black;
		}
	}

	&__main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}
}

