@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

.orders {
	padding-left: 28px;
	position: relative;

	&:hover {
		opacity: 70%;
	}

	&__link {
		position: relative;
		display: flex;
		opacity: 50%;
		cursor: default;

		@media (max-width: 1199px) {
			opacity: 100%;	
		}

		&::before {
			background: url('../img/icons/cartblack.svg') 0 0 / 100% no-repeat;
		}

		&--styled::before {
			background: url('../img/icons/cart.svg') 0 0 / 100% no-repeat;
		}
	}	

	&__link::before,
	&__link--styled::before {
		content: '';
		margin-left: -5px;
		height: 18px;
		width: 18px;
	} 


	&__link--active {
		opacity: 100%;
	} 

	&__count {
		text-align: center;
		font-size: 13px;
		line-height: 16px;

		position: absolute;
		background: #4541FE;
		height: 15px;
		width: 15px;
		border-radius: 50%;
		top: -8px;
		left: 2px;

		visibility: hidden;
	}

	&__text {
		border-bottom: 1px solid black;
		margin-left: 5px;

		&--styled {
			border-bottom: 1px solid white;
		}

		@media (max-width: 1199px) {
			display: none;
		}
	}

	&--active {
		cursor: pointer;
	}
}


