@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

.content {
	padding-top: 56px;
	margin-bottom: 40px;
	overflow-x: hidden;

	@media (max-width: 1120px) {
		margin-bottom: 20px;
	}
}

.heading {
	background: black;
	height: 160px;
	padding-top: 24px;

		@media (max-width: 1120px) {
			padding: 16px 0 0 16px;
		}

	&__title {
		font-family: 'PT Sans', sans-serif;
		font-size: 32px;
		font-weight: 700;
		line-height: 41px;
		color: white;
	}
}

.shoe-grid {
	margin-top: -60px;
	padding-bottom: 40px;
	display: grid;
	grid-template-columns: repeat(4, 240px);
	grid-template-rows: repeat(4, 344px);
	grid-gap: 48px 32px;

	@media (max-width: 1120px) {
		grid-template-columns: repeat(2, 136px);
		grid-template-rows: repeat(6, 232px);

		gap: 32px 16px;

		margin: -80px 0 0 0;
		width: 400px;
		padding-left: 16px;
		padding-bottom: 0;

		&__item:nth-last-child(1),
		&__item:nth-last-child(2) {
			display: none;
		}
	}
}

.shoe {
	height: 240px;
	max-width: 100%;

	&__description {
		font-family: 'PT Sans', sans-serif;
		font-size: 16px;
		line-height: 21px;
		font-weight: 700;
		width: 70%;

		@media (max-width: 1120px) {
			font-size: 13px;
			line-height: 17px;
			width: 100%;

			margin-top: 12px;
		}
	}

	&__sub-title {
		margin-top: 4px;
	}

	&__price {
		@media (max-width: 1120px) {
			font-size: 16px;
			line-height: 20px;
		}
	}

	&__link:hover {
		color: #4541FE;
	}

	&__img {
		@media (max-width: 1120px) {
			height: 136px;
			width: 136px;
		}
	}

	&__title {
		margin-top: 8px;
	}

	&__sub-title {
		font-size: 13px;
		font-weight: 400;
		line-height: 17px;
	}

	&__price {
		margin-top: 12px;
	}
}
