@import "nullstyle.scss";
@import "header.scss";
@import "navbar.scss";
@import "title.scss";
@import "orders.scss";
@import "footer.scss";
@import "contacts.scss";
@import "mail.scss";
@import "shoes.scss";
@import "pages.scss";
@import "product.scss";
@import "about.scss";
@import "checkout.scss";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
$color1: white;

a{
	color: inherit;
}

body {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}

.container {
	margin: auto;
	max-width: 1136px;
	height: 100%;
}

.slick-track {
	display: flex;
}

.main {

	&__slider {
		height: 600px;
		width: 100%;
		overflow: hidden;
		position: relative;

		.slick-arrow {
			position: absolute;
			z-index: 2;
			top: 289px;
			font-size: 0;
			width: 16px;
			height: 20px;

			@media (max-width: 1120px) {
				top: 305px;
			}
		}

		.slick-prev {
			left: 26px;
			background: url('../img/icons/arr-left1.svg') 0 0 / 100% no-repeat;

			@media (max-width: 1120px) {
				left: 10px;
			}
		}

		.slick-next {
			right: 26px;
			background: url('../img/icons/arr-right1.svg') 0 0 / 100% no-repeat;

			@media (max-width: 1120px) {
				right: 10px;
			}			
		}

		&-img {
			height: 600px;
			width: 100%; 
			object-fit: cover;
		}

		&-item {
			position: relative;
		}

		&-sub-text {
			position: absolute;
			font-size: 64px;
			font-weight: 700;
			line-height: 62px;
			z-index: 15;
			bottom: 80px;
			left: 152px;

			@media (max-width: 1120px) {
				bottom: 32px;
				left: 16px;
				font-size: 48px;
			}
		}

		&-decor--black {
			margin-top: 20px;
			display: inline-block;
			border-bottom: 2px solid black;
			color: black;
		}

		&-decor--white {
			border-bottom: 2px solid white;
			color: white;
		}
	}

	// main__slider end // 
	&__content {
		margin-top: 48px;

		@media (max-width: 1120px) {
			margin-top: 24px;
		}
	}

	&__body {
		column-gap: 32px;
		display: grid;
		width: 100%;
		grid-template-columns: 255px 126px 124px 135px repeat(2, 147px);

		@media (max-width: 1120px) {
			column-gap: 8px;
			row-gap: 21px;
			padding: 0 15px;
			margin-bottom: 48px;
			grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
		}
	}

	&__about {
		width: 240px;
		font-size: 18px;
		margin-bottom: 66px;	
		font-weight: 400;
		line-height: 23px;


		&:first-child {
			@media (max-width: 1120px) {
				grid-row-start: 1;			
				grid-column-start: 1;
				grid-row-end: 2;
				grid-column-end: 3;

				margin-bottom: 0;
			}
		}
		@media (max-width: 1120px) {
			margin-bottom: 25px;
		}
	}

		&__text {

			span {
				font-weight: 700;
			}

			&:not(:first-of-type) {
				margin-top: 16px;
		}
	}

	&__list {
		color: #4541FE;

		&:last-child {
			@media (max-width: 1120px) {
					grid-row-start: 4;			
					grid-column-start: 1;
					grid-row-end: 5;
					grid-column-end: 3;
			}
		}
	}

	&__item {
		margin-bottom: 8px;
		padding: 3px 0 2px 0;
	}

	&__item:not(:first-of-type) {
		text-indent: 8px;
	}

	&__item:first-of-type {
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 12px;
	}


	&__link {
		border-bottom: 1px solid #4541FE;

		&:hover {
			opacity: 50%;
		}
	}
}

// collections 
.collections {
	margin-bottom: 72px;

	display: grid;
	grid-template-columns: 464px 655px;
	grid-template-rows: 320px 160px 480px;
	grid-gap: 24px;
	grid-template-areas: "summer new"
								"choice new"
								"preorder preorder"; 


	@media (max-width: 1120px) {
		grid-template-columns: 1fr;
		grid-template-rows: 320px 200px 370px 480px;
		grid-template-areas: "summer"
									"choice"
									"new"
									"preorder";
		grid-gap: 0;	
		margin-bottom: 0;
	}


	&__summer,
	&__choice,
	&__new,
	&__preorder {
		@media (max-width: 768px) {
			width: 100vw;
		}
	}
	&__summer {
		background: #FFA88C;
		width: 464px;
		height: 320px;
		grid-area: summer;
	}

	&__summer,
	&__new,
	&__preorder {
		position: relative;

		@media (max-width: 1120px) {
			overflow: hidden;
		}
	}

	&__summer,
	&__new,
	&__choice,
	&__preorder {
		padding: 24px 16px;
	}

	&__link {
		display: inline-block;
		border-bottom: 2px solid black;

		&--white {
			border-bottom: 2px solid white;
		}

		&:hover {
			opacity: 50%;
	  }
	}

	&__link,
	&__sub-title,
	&__title {
		position: relative;
	}

	&__title {
		font-size: 32px;
		font-weight: 700;
		line-height: 40px;
	}

	&__sub-title {
		font-size: 16px;
		font-weight: 400;
		line-height: 21px;
		z-index: 5;
		margin-top: 8px;
		width: 280px;


	}

	&__title--white,
	&__sub-title--white {
		color: white;
	} 

	&__img,
	&__image,
	&__pic {
		position: absolute;
	}

	&__img {
		top: 54px;
		left: 17px;

		@media (max-width: 1120px) {
			top: 85px;
			left: -65px;
			height: 230px;
			width: 430px;
		}
	}

	&__image {
		left: 21px;
		top: 9px;

		@media (max-width: 1120px) {
			left: 5px;
			top: 65px;	
			height: 340px;
		}
	}

	&__pic {
		bottom: 25px;

		@media (max-width: 1120px) {
			background: url(image.png);
			transform: rotate(30deg);
			width: 175px;
			height: 175px;
		}

		&--left {
			left: -16%;

			@media (max-width: 1120px) {
				top: 95px;
				left: -20%;
			}
		}

		&--center {
			left: 28%;

			@media (max-width: 1120px) {
				top: 180px;
			}
		}

		&--right {
			right: -15%;

			@media (max-width: 1120px) {
				top: 270px;
				right: -30%;
			}
		}
	}
	&__choice {
		background: #7482FF;
		width: 464px;
		height: 100%;
		grid-area: choice;

	}

	&__new {
		background: #FFE9FD;
		max-width: 655px;
		height: 100%;
		grid-area: new;
	}

	&__preorder {
		background: #F3F3F3;
		height: 100%;
		max-width: 100%;
		overflow: hidden;
		grid-area: preorder;
	}
}

